<%# navigation styled for Zurb Foundation 5 %>
<nav class="top-bar" data-topbar>
  <div class="top-bar-left">    
    <ul class="title-area">
       <img class="thumbnail" src="/img/mnm-logo.png" alt="mnm logo">
      <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <div class="top-bar-section">
      <ul class="tabs" data-tab>
	<%= render 'layouts/navigation_links' %>
      </ul>
    </div>
  </div>
</nav>
