<%# add navigation links to this file %>

  <li class="tab-title active"><a href="#panel1">Home</a></li>
  <li class="tab-title"><a href="#panel2">Investments</a></li>
  <li class="tab-title"><a href="#panel3">About us</a></li>
  <li class="tab-title"><a href="#panel4">Articles</a></li>
  <li class="tab-title"><a href="#panel5">Contact</a></li>

